<% content_for :title do %>About<% end %>
<h3>Just smile :)</h3>
<div style="logo"><%= image_tag("http://mirgadaniy.ru/images/KseniaAuthor2/gfdng643.jpg", :alt => "Beautiful Flowers") %> </div>

<p></p>

