<% content_for :title do %>Data Analytics<% end %>
<h3><a href="https://dataquest.io">
Working with data: 3..2..1.. GO</a> </h3>

<h3><a href="http://www.thecshandbook.com/Fundamentals">
CS concepts: 3..2..1.. GO</a> </h3>

