<%# add navigation links to this file %>
<li><%= link_to 'My way', page_path('myway') %></li>
<li><%= link_to 'Pet projects', page_path('petprojects') %></li>
<li><%= link_to 'Data Analytics', page_path('dataanalytics') %></li>
<li><%= link_to 'Contact', new_contact_path %></li>
